.colorSchemeOrange.header-pattern-9 .modFlexSlider.top a.read-more:hover, .colorSchemeOrange.header-pattern-10 .modFlexSlider.top a.read-more:hover {
  color: white;
  background: url(../images/arrow_white.png) right 10px no-repeat;
}
.colorSchemeOrange.header-pattern-9 .modFlexSlider.top a.read-more, .colorSchemeOrange.header-pattern-10 .modFlexSlider.top a.read-more {
  color: #df6113;
  background: url(../images/arrow_orange.png) right 10px no-repeat;
}
.colorSchemeOrange.header-pattern-9 .modFlexSlider.top .button, .colorSchemeOrange.header-pattern-10 .modFlexSlider.top .button {
  background: #df6113;
}
.colorSchemeOrange.header-pattern-9 .modFlexSlider.top .button:hover, .colorSchemeOrange.header-pattern-10 .modFlexSlider.top .button:hover {
  background: #b5501b;
}

.colorSchemeBlue .top-section {
  background: #377287 url(../images/header_bg_blue_8.png) left top repeat;
}
.colorSchemeBlue.header-pattern-1 .top-section {
  background: #377287 url(../images/header_bg_blue_1.png) left top repeat;
}
.colorSchemeBlue.header-pattern-2 .top-section {
  background: #377287 url(../images/header_bg_blue_2.png) left top repeat;
}
.colorSchemeBlue.header-pattern-3 .top-section {
  background: #377287 url(../images/header_bg_blue_3.png) left top repeat;
}
.colorSchemeBlue.header-pattern-4 .top-section {
  background: #377287 url(../images/header_bg_blue_4.png) left top repeat;
}
.colorSchemeBlue.header-pattern-5 .top-section {
  background: #377287 url(../images/header_bg_blue_5.png) left top repeat;
}
.colorSchemeBlue.header-pattern-6 .top-section {
  background: #377287 url(../images/header_bg_blue_6.png) left top repeat;
}
.colorSchemeBlue.header-pattern-7 .top-section {
  background: #377287 url(../images/header_bg_blue_7.png) left top repeat;
}
.colorSchemeBlue.header-pattern-8 .top-section {
  background: #377287 url(../images/header_bg_blue_8.png) left top repeat;
}
.colorSchemeBlue .modService.color-1 .icon_title {
  background: url(../images/service/circle_blue.png) center top no-repeat;
}
.colorSchemeBlue .modService.color-2 .icon_title {
  background: url(../images/service/circle_coffee.png) center top no-repeat;
}
.colorSchemeBlue .modGallery a.mask span {
  color: #377287;
}
.colorSchemeBlue .modGallery .item:hover a {
  background: #377287;
}
.colorSchemeBlue .modGallery .item:hover a.mask {
  background: transparent;
}
.colorSchemeBlue .modBlogPost .timestamp {
  background: url(../images/blog-post/blog_date_bg_blue.png) left top no-repeat;
}
.colorSchemeBlue .modFlexSlider.top a.read-more:hover {
  color: #df6113;
  background: url(../images/arrow_orange.png) right 10px no-repeat;
}
.colorSchemeBlue .modFlexSlider.top a.read-more {
  color: #5a2708;
  background: url(../images/arrow_brown.png) right 10px no-repeat;
}
.colorSchemeBlue .modFlexSlider.top .button {
  background: #b5501b;
}
.colorSchemeBlue .modFlexSlider.top .button:hover {
  background: #923c0f;
}
@media only screen and (max-width: 767px) {
  .colorSchemeBlue .modNav .show-for-small .toggle {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemeBlue .modNav ul.nav-bar li a.sfHover, .colorSchemeBlue .modNav ul.nav-bar li a:hover, .colorSchemeBlue .modNav ul.nav-bar li a.current {
    color: #0e1d23;
  }
  .colorSchemeBlue .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeBlue .modNav ul.nav-bar li ul.sub a:hover {
    color: #0e1d23;
  }
}

.colorSchemeBlue.header-pattern-9 a, .colorSchemeBlue.header-pattern-10 a {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 a:hover, .colorSchemeBlue.header-pattern-10 a:hover {
  color: #333333;
}
.colorSchemeBlue.header-pattern-9 .button, .colorSchemeBlue.header-pattern-10 .button {
  color: white;
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 .button:hover, .colorSchemeBlue.header-pattern-10 .button:hover {
  color: white;
  background: #377287;
}
.colorSchemeBlue.header-pattern-9 .modNav a.sfHover, .colorSchemeBlue.header-pattern-9 .modNav a:hover, .colorSchemeBlue.header-pattern-9 .modNav a.current, .colorSchemeBlue.header-pattern-10 .modNav a.sfHover, .colorSchemeBlue.header-pattern-10 .modNav a:hover, .colorSchemeBlue.header-pattern-10 .modNav a.current {
  color: #f9f9f9;
}
.colorSchemeBlue.header-pattern-9 .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeBlue.header-pattern-9 .modNav ul.nav-bar li ul.sub a:hover, .colorSchemeBlue.header-pattern-10 .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeBlue.header-pattern-10 .modNav ul.nav-bar li ul.sub a:hover {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modFlexSlider.top a.read-more:hover, .colorSchemeBlue.header-pattern-10 .modFlexSlider.top a.read-more:hover {
  color: white;
  background: url(../images/arrow_white.png) right 10px no-repeat;
}
.colorSchemeBlue.header-pattern-9 .modFlexSlider.top a.read-more, .colorSchemeBlue.header-pattern-10 .modFlexSlider.top a.read-more {
  color: #348dad;
  background: url(../images/arrow_blue.png) right 10px no-repeat;
}
.colorSchemeBlue.header-pattern-9 .modFlexSlider.top .button, .colorSchemeBlue.header-pattern-10 .modFlexSlider.top .button {
  color: white;
  background: #377287;
}
.colorSchemeBlue.header-pattern-9 .modFlexSlider.top .button:hover, .colorSchemeBlue.header-pattern-10 .modFlexSlider.top .button:hover {
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modContactInfo.bgmap a:hover, .colorSchemeBlue.header-pattern-10 .modContactInfo.bgmap a:hover {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modBlogPost a.read-more, .colorSchemeBlue.header-pattern-10 .modBlogPost a.read-more {
  background: url(../images/arrow_blue.png) right 10px no-repeat;
}
.colorSchemeBlue.header-pattern-9 .modBlogPost a.read-more:hover, .colorSchemeBlue.header-pattern-10 .modBlogPost a.read-more:hover {
  background: url(../images/arrow_black.png) right 10px no-repeat;
}
.colorSchemeBlue.header-pattern-9 .modBlogPost ul.other-info a:hover, .colorSchemeBlue.header-pattern-10 .modBlogPost ul.other-info a:hover {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modComments span.name, .colorSchemeBlue.header-pattern-10 .modComments span.name {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modMember h3, .colorSchemeBlue.header-pattern-10 .modMember h3 {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modSocial ul > li:hover, .colorSchemeBlue.header-pattern-10 .modSocial ul > li:hover {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modProcess i, .colorSchemeBlue.header-pattern-10 .modProcess i {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modBarGraph .bar .highlighted, .colorSchemeBlue.header-pattern-10 .modBarGraph .bar .highlighted {
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modPriceBox.featured .info, .colorSchemeBlue.header-pattern-10 .modPriceBox.featured .info {
  border-top: 4px solid #348dad;
}
.colorSchemeBlue.header-pattern-9 .modTabs.vertical a, .colorSchemeBlue.header-pattern-10 .modTabs.vertical a {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modTabs.vertical a:hover, .colorSchemeBlue.header-pattern-10 .modTabs.vertical a:hover {
  color: white;
  background: url(../images/tabs/sidebar_menu_arrow_blue.png) right top no-repeat;
}
.colorSchemeBlue.header-pattern-9 .modTabs.vertical li.active a, .colorSchemeBlue.header-pattern-10 .modTabs.vertical li.active a {
  background: url(../images/tabs/sidebar_menu_arrow_blue.png) right top no-repeat;
}
.colorSchemeBlue.header-pattern-9 .modGallery .gallery-nav a.current, .colorSchemeBlue.header-pattern-9 .modGallery .gallery-nav a:hover, .colorSchemeBlue.header-pattern-10 .modGallery .gallery-nav a.current, .colorSchemeBlue.header-pattern-10 .modGallery .gallery-nav a:hover {
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modText .dropcap, .colorSchemeBlue.header-pattern-10 .modText .dropcap {
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 .modService h3, .colorSchemeBlue.header-pattern-10 .modService h3 {
  background: url(../images/service/title_bg_grey.png) center top no-repeat;
}
.colorSchemeBlue.header-pattern-9 .modService.simple h3, .colorSchemeBlue.header-pattern-10 .modService.simple h3 {
  background: none;
}
.colorSchemeBlue.header-pattern-9 .modService.simple:hover i, .colorSchemeBlue.header-pattern-10 .modService.simple:hover i {
  background: #348dad;
  color: white;
}
.colorSchemeBlue.header-pattern-9 .modService.simple:hover i.circle-border, .colorSchemeBlue.header-pattern-10 .modService.simple:hover i.circle-border {
  border: 2px solid #348dad;
  background: none;
}
.colorSchemeBlue.header-pattern-9 .modFeature.boxed:hover i, .colorSchemeBlue.header-pattern-10 .modFeature.boxed:hover i {
  color: #348dad;
}
.colorSchemeBlue.header-pattern-9 ::-moz-selection, .colorSchemeBlue.header-pattern-10 ::-moz-selection {
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 ::selection, .colorSchemeBlue.header-pattern-10 ::selection {
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 .bg-colorscheme, .colorSchemeBlue.header-pattern-10 .bg-colorscheme {
  background: #348dad;
}
.colorSchemeBlue.header-pattern-9 .bg-colorscheme a, .colorSchemeBlue.header-pattern-10 .bg-colorscheme a {
  color: #333333 !important;
}
.colorSchemeBlue.header-pattern-9 .bg-colorscheme a:hover, .colorSchemeBlue.header-pattern-10 .bg-colorscheme a:hover {
  color: white !important;
}
.colorSchemeBlue.header-pattern-9 .modSocial.squared ul > li:hover, .colorSchemeBlue.header-pattern-10 .modSocial.squared ul > li:hover {
  background: #348dad;
}
@media only screen and (max-width: 767px) {
  .colorSchemeBlue.header-pattern-9 .modTabs.vertical .panel-header, .colorSchemeBlue.header-pattern-10 .modTabs.vertical .panel-header {
    color: #348dad;
  }
  .colorSchemeBlue.header-pattern-9 .modTabs.vertical .panel-header.active, .colorSchemeBlue.header-pattern-10 .modTabs.vertical .panel-header.active {
    color: white;
    background: #348dad;
  }
}

.colorSchemeCoffee .top-section {
  background: #504532 url(../images/header_bg_coffee_8.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-1 .top-section {
  background: #504532 url(../images/header_bg_coffee_1.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-2 .top-section {
  background: #504532 url(../images/header_bg_coffee_2.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-3 .top-section {
  background: #504532 url(../images/header_bg_coffee_3.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-4 .top-section {
  background: #504532 url(../images/header_bg_coffee_4.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-5 .top-section {
  background: #504532 url(../images/header_bg_coffee_5.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-6 .top-section {
  background: #504532 url(../images/header_bg_coffee_6.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-7 .top-section {
  background: #504532 url(../images/header_bg_coffee_7.png) left top repeat;
}
.colorSchemeCoffee.header-pattern-8 .top-section {
  background: #504532 url(../images/header_bg_coffee_8.png) left top repeat;
}
.colorSchemeCoffee .modFlexSlider.top a.read-more {
  color: #df6113;
  background: url(../images/arrow_orange.png) right 10px no-repeat;
}
.colorSchemeCoffee .modFlexSlider.top a.read-more:hover {
  color: #b5501b;
  background: url(../images/arrow_orange_2.png) right 10px no-repeat;
}
.colorSchemeCoffee .modFlexSlider.top .button {
  background: #b5501b;
}
.colorSchemeCoffee .modFlexSlider.top .button:hover {
  background: #923c0f;
}
.colorSchemeCoffee .modService .icon_title:hover h3 {
  color: #64563f;
}
.colorSchemeCoffee .modService h3 {
  color: #504532;
  background: url(../images/service/title_bg_yellow_grey.png) center top no-repeat;
}
.colorSchemeCoffee .modService.simple h3 {
  color: #333333;
  background: none;
}
@media only screen and (max-width: 767px) {
  .colorSchemeCoffee .modNav .show-for-small .toggle {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemeCoffee .modNav ul.nav-bar li a.sfHover, .colorSchemeCoffee .modNav ul.nav-bar li a:hover, .colorSchemeCoffee .modNav ul.nav-bar li a.current {
    color: #df6113;
  }
  .colorSchemeCoffee .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeCoffee .modNav ul.nav-bar li ul.sub a:hover {
    color: #df6113;
  }
}

.colorSchemeCyan .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_8.png) left top repeat;
}
.colorSchemeCyan.header-pattern-1 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_1.png) left top repeat;
}
.colorSchemeCyan.header-pattern-2 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_2.png) left top repeat;
}
.colorSchemeCyan.header-pattern-3 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_3.png) left top repeat;
}
.colorSchemeCyan.header-pattern-4 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_4.png) left top repeat;
}
.colorSchemeCyan.header-pattern-5 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_5.png) left top repeat;
}
.colorSchemeCyan.header-pattern-6 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_6.png) left top repeat;
}
.colorSchemeCyan.header-pattern-7 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_7.png) left top repeat;
}
.colorSchemeCyan.header-pattern-8 .top-section {
  background: #08b6c1 url(../images/header_bg_cyan_8.png) left top repeat;
}
.colorSchemeCyan .modFlexSlider.top a.read-more {
  color: #034448;
  background: url(../images/arrow_cyan.png) right 10px no-repeat;
}
.colorSchemeCyan .modFlexSlider.top a.read-more:hover {
  color: #333333;
  background: url(../images/arrow_black.png) right 10px no-repeat;
}
.colorSchemeCyan .modFlexSlider.top .button {
  background: #034448;
}
.colorSchemeCyan .modFlexSlider.top .button:hover {
  background: #023235;
}
.colorSchemeCyan .modService.color-1 .icon_title {
  background: url(../images/service/circle_green.png) center top no-repeat;
}
.colorSchemeCyan .modService.color-2 .icon_title {
  background: url(../images/service/circle_coffee.png) center top no-repeat;
}
.colorSchemeCyan .modGallery a.mask span {
  color: #08b6c1;
}
.colorSchemeCyan .modGallery .item:hover a {
  background: #08b6c1;
}
.colorSchemeCyan .modGallery .item:hover a.mask {
  background: transparent;
}
.colorSchemeCyan .modBlogPost .timestamp {
  background: url(../images/blog-post/blog_date_bg_cyan.png) left top no-repeat;
}
.colorSchemeCyan .bg-colorscheme {
  background: #08b3be;
}
.colorSchemeCyan .bg-colorscheme a {
  color: #034448 !important;
}
.colorSchemeCyan .bg-colorscheme a:hover {
  color: white !important;
}
.colorSchemeCyan .modSocial.squared ul > li:hover {
  background: #08b6c1;
}
@media only screen and (max-width: 767px) {
  .colorSchemeCyan .modNav .show-for-small .toggle {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemeCyan .modNav ul.nav-bar li a.sfHover, .colorSchemeCyan .modNav ul.nav-bar li a:hover, .colorSchemeCyan .modNav ul.nav-bar li a.current {
    color: #023336;
  }
  .colorSchemeCyan .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeCyan .modNav ul.nav-bar li ul.sub a:hover {
    color: #023336;
  }
}

.colorSchemeCyan.header-pattern-9 a, .colorSchemeCyan.header-pattern-10 a {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 a:hover, .colorSchemeCyan.header-pattern-10 a:hover {
  color: #333333;
}
.colorSchemeCyan.header-pattern-9 .button, .colorSchemeCyan.header-pattern-10 .button {
  color: white;
  background: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .button:hover, .colorSchemeCyan.header-pattern-10 .button:hover {
  color: white;
  background: #069099;
}
.colorSchemeCyan.header-pattern-9 .modNav a.sfHover, .colorSchemeCyan.header-pattern-9 .modNav a:hover, .colorSchemeCyan.header-pattern-9 .modNav a.current, .colorSchemeCyan.header-pattern-10 .modNav a.sfHover, .colorSchemeCyan.header-pattern-10 .modNav a:hover, .colorSchemeCyan.header-pattern-10 .modNav a.current {
  color: #f9f9f9;
}
.colorSchemeCyan.header-pattern-9 .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeCyan.header-pattern-9 .modNav ul.nav-bar li ul.sub a:hover, .colorSchemeCyan.header-pattern-10 .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeCyan.header-pattern-10 .modNav ul.nav-bar li ul.sub a:hover {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modFlexSlider.top a.read-more:hover, .colorSchemeCyan.header-pattern-10 .modFlexSlider.top a.read-more:hover {
  color: white;
  background: url(../images/arrow_white.png) right 10px no-repeat;
}
.colorSchemeCyan.header-pattern-9 .modFlexSlider.top a.read-more, .colorSchemeCyan.header-pattern-10 .modFlexSlider.top a.read-more {
  color: #08b3be;
  background: url(../images/arrow_cyan_2.png) right 10px no-repeat;
}
.colorSchemeCyan.header-pattern-9 .modFlexSlider.top .button, .colorSchemeCyan.header-pattern-10 .modFlexSlider.top .button {
  color: white;
  background: #069099;
}
.colorSchemeCyan.header-pattern-9 .modFlexSlider.top .button:hover, .colorSchemeCyan.header-pattern-10 .modFlexSlider.top .button:hover {
  background: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modContactInfo.bgmap a:hover, .colorSchemeCyan.header-pattern-10 .modContactInfo.bgmap a:hover {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modBlogPost a.read-more, .colorSchemeCyan.header-pattern-10 .modBlogPost a.read-more {
  background: url(../images/arrow_cyan_2.png) right 10px no-repeat;
}
.colorSchemeCyan.header-pattern-9 .modBlogPost a.read-more:hover, .colorSchemeCyan.header-pattern-10 .modBlogPost a.read-more:hover {
  background: url(../images/arrow_black.png) right 10px no-repeat;
}
.colorSchemeCyan.header-pattern-9 .modBlogPost ul.other-info a:hover, .colorSchemeCyan.header-pattern-10 .modBlogPost ul.other-info a:hover {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modComments span.name, .colorSchemeCyan.header-pattern-10 .modComments span.name {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modMember h3, .colorSchemeCyan.header-pattern-10 .modMember h3 {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modSocial ul > li:hover, .colorSchemeCyan.header-pattern-10 .modSocial ul > li:hover {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modProcess i, .colorSchemeCyan.header-pattern-10 .modProcess i {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modBarGraph .bar .highlighted, .colorSchemeCyan.header-pattern-10 .modBarGraph .bar .highlighted {
  background: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modPriceBox.featured .info, .colorSchemeCyan.header-pattern-10 .modPriceBox.featured .info {
  border-top: 4px solid #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modTabs.vertical a, .colorSchemeCyan.header-pattern-10 .modTabs.vertical a {
  color: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modTabs.vertical a:hover, .colorSchemeCyan.header-pattern-10 .modTabs.vertical a:hover {
  color: white;
  background: url(../images/tabs/sidebar_menu_arrow_cyan.png) right top no-repeat;
}
.colorSchemeCyan.header-pattern-9 .modTabs.vertical li.active a, .colorSchemeCyan.header-pattern-10 .modTabs.vertical li.active a {
  background: url(../images/tabs/sidebar_menu_arrow_cyan.png) right top no-repeat;
}
.colorSchemeCyan.header-pattern-9 .modGallery .gallery-nav a.current, .colorSchemeCyan.header-pattern-9 .modGallery .gallery-nav a:hover, .colorSchemeCyan.header-pattern-10 .modGallery .gallery-nav a.current, .colorSchemeCyan.header-pattern-10 .modGallery .gallery-nav a:hover {
  background: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modText .dropcap, .colorSchemeCyan.header-pattern-10 .modText .dropcap {
  background: #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modService h3, .colorSchemeCyan.header-pattern-10 .modService h3 {
  background: url(../images/service/title_bg_grey.png) center top no-repeat;
}
.colorSchemeCyan.header-pattern-9 .modService.simple h3, .colorSchemeCyan.header-pattern-10 .modService.simple h3 {
  background: none;
}
.colorSchemeCyan.header-pattern-9 .modService.simple:hover i, .colorSchemeCyan.header-pattern-10 .modService.simple:hover i {
  background: #08b3be;
  color: white;
}
.colorSchemeCyan.header-pattern-9 .modService.simple:hover i.circle-border, .colorSchemeCyan.header-pattern-10 .modService.simple:hover i.circle-border {
  background: none;
  border: 2px solid #08b3be;
}
.colorSchemeCyan.header-pattern-9 .modFeature.boxed:hover i, .colorSchemeCyan.header-pattern-10 .modFeature.boxed:hover i {
  color: #08b6c1;
}
.colorSchemeCyan.header-pattern-9 ::-moz-selection, .colorSchemeCyan.header-pattern-10 ::-moz-selection {
  background: #08b6c1;
}
.colorSchemeCyan.header-pattern-9 ::selection, .colorSchemeCyan.header-pattern-10 ::selection {
  background: #08b6c1;
}
@media only screen and (max-width: 767px) {
  .colorSchemeCyan.header-pattern-9 .modTabs.vertical .panel-header, .colorSchemeCyan.header-pattern-10 .modTabs.vertical .panel-header {
    color: #08b3be;
  }
  .colorSchemeCyan.header-pattern-9 .modTabs.vertical .panel-header.active, .colorSchemeCyan.header-pattern-10 .modTabs.vertical .panel-header.active {
    color: white;
    background: #08b3be;
  }
}

.colorSchemeDark-blue .top-section {
  background: #28323d url(../images/header_bg_dark_blue_8.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-1 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_1.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-2 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_2.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-3 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_3.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-4 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_4.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-5 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_5.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-6 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_6.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-7 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_7.png) left top repeat;
}
.colorSchemeDark-blue.header-pattern-8 .top-section {
  background: #28323d url(../images/header_bg_dark_blue_8.png) left top repeat;
}
.colorSchemeDark-blue .modFlexSlider.top a.read-more {
  color: #b5501b;
  background: url(../images/arrow_orange_2.png) right 10px no-repeat;
}
.colorSchemeDark-blue .modFlexSlider.top a.read-more:hover {
  color: #883c14;
  background: url(../images/arrow_orange_3.png) right 10px no-repeat;
}
.colorSchemeDark-blue .modFlexSlider.top .button {
  background: #b5501b;
}
.colorSchemeDark-blue .modFlexSlider.top .button:hover {
  background: #923c0f;
}
.colorSchemeDark-blue .modService.color-1 .icon_title {
  background: url(../images/service/circle_blue.png) center top no-repeat;
}
.colorSchemeDark-blue .modService.color-2 .icon_title {
  background: url(../images/service/circle_coffee.png) center top no-repeat;
}
@media only screen and (max-width: 767px) {
  .colorSchemeDark-blue .modNav .show-for-small .toggle {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemeDark-blue .modNav ul.nav-bar li a.sfHover, .colorSchemeDark-blue .modNav ul.nav-bar li a:hover, .colorSchemeDark-blue .modNav ul.nav-bar li a.current {
    color: #df6113;
  }
  .colorSchemeDark-blue .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeDark-blue .modNav ul.nav-bar li ul.sub a:hover {
    color: #df6113;
  }
}

.colorSchemeGrey .top-section {
  background: #494949 url(../images/header_bg_grey_8.png) left top repeat;
}
.colorSchemeGrey.header-pattern-1 .top-section {
  background: #494949 url(../images/header_bg_grey_1.png) left top repeat;
}
.colorSchemeGrey.header-pattern-2 .top-section {
  background: #494949 url(../images/header_bg_grey_2.png) left top repeat;
}
.colorSchemeGrey.header-pattern-3 .top-section {
  background: #494949 url(../images/header_bg_grey_3.png) left top repeat;
}
.colorSchemeGrey.header-pattern-4 .top-section {
  background: #494949 url(../images/header_bg_grey_4.png) left top repeat;
}
.colorSchemeGrey.header-pattern-5 .top-section {
  background: #494949 url(../images/header_bg_grey_5.png) left top repeat;
}
.colorSchemeGrey.header-pattern-6 .top-section {
  background: #494949 url(../images/header_bg_grey_6.png) left top repeat;
}
.colorSchemeGrey.header-pattern-7 .top-section {
  background: #494949 url(../images/header_bg_grey_7.png) left top repeat;
}
.colorSchemeGrey.header-pattern-8 .top-section {
  background: #494949 url(../images/header_bg_grey_8.png) left top repeat;
}
.colorSchemeGrey .modFlexSlider.top a.read-more {
  color: #b5501b;
  background: url(../images/arrow_orange_2.png) right 10px no-repeat;
}
.colorSchemeGrey .modFlexSlider.top a.read-more:hover {
  color: #883c14;
  background: url(../images/arrow_orange_3.png) right 10px no-repeat;
}
.colorSchemeGrey .modFlexSlider.top .button {
  background: #b5501b;
}
.colorSchemeGrey .modFlexSlider.top .button:hover {
  background: #923c0f;
}
.colorSchemeGrey .modService.color-1 .icon_title {
  background: url(../images/service/circle_blue.png) center top no-repeat;
}
.colorSchemeGrey .modService.color-2 .icon_title {
  background: url(../images/service/circle_coffee.png) center top no-repeat;
}
@media only screen and (max-width: 767px) {
  .colorSchemeGrey .modNav .show-for-small .toggle {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemeGrey .modNav ul.nav-bar li a.sfHover, .colorSchemeGrey .modNav ul.nav-bar li a:hover, .colorSchemeGrey .modNav ul.nav-bar li a.current {
    color: #df6113;
  }
  .colorSchemeGrey .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeGrey .modNav ul.nav-bar li ul.sub a:hover {
    color: #df6113;
  }
}

.colorSchemeKhaki .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_8.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-1 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_1.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-2 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_2.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-3 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_3.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-4 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_4.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-5 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_5.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-6 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_6.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-7 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_7.png) left top repeat;
}
.colorSchemeKhaki.header-pattern-8 .top-section {
  background: #c1bdb0 url(../images/header_bg_khaki_8.png) left top repeat;
}
.colorSchemeKhaki .modBlogPost .timestamp {
  background: url(../images/blog-post/blog_date_bg_khaki.png) left top no-repeat;
}
.colorSchemeKhaki .modFlexSlider.top a.read-more {
  color: #df6113;
  background: url(../images/arrow_orange.png) right 10px no-repeat;
}
.colorSchemeKhaki .modFlexSlider.top a.read-more:hover {
  color: #b5501b;
  background: url(../images/arrow_orange_2.png) right 10px no-repeat;
}
.colorSchemeKhaki .modFlexSlider.top .button {
  background: #b5501b;
}
.colorSchemeKhaki .modFlexSlider.top .button:hover {
  background: #923c0f;
}
@media only screen and (max-width: 767px) {
  .colorSchemeKhaki .modNav .show-for-small .toggle {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemeKhaki .modNav ul.nav-bar li a.sfHover, .colorSchemeKhaki .modNav ul.nav-bar li a:hover, .colorSchemeKhaki .modNav ul.nav-bar li a.current {
    color: #363531;
  }
  .colorSchemeKhaki .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeKhaki .modNav ul.nav-bar li ul.sub a:hover {
    color: #363531;
  }
}

.colorSchemeYellow a {
  color: #d8c318;
}
.colorSchemeYellow a:hover {
  color: #333333;
}
.colorSchemeYellow .button {
  background: #d8c318;
  color: #fefbee;
}
.colorSchemeYellow .button:hover {
  color: #fefbee;
  background: #bdaa15;
}
.colorSchemeYellow a.read-more {
  background: url(../images/arrow_yellow.png) right 8px no-repeat;
}
.colorSchemeYellow a.read-more:hover {
  background: url(../images/arrow_black.png) right 8px no-repeat;
}
.colorSchemeYellow .top-section {
  background: #f2db1b url(../images/header_bg_yellow_8.png) left top repeat;
}
.colorSchemeYellow.header-pattern-1 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_1.png) left top repeat;
}
.colorSchemeYellow.header-pattern-2 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_2.png) left top repeat;
}
.colorSchemeYellow.header-pattern-3 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_3.png) left top repeat;
}
.colorSchemeYellow.header-pattern-4 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_4.png) left top repeat;
}
.colorSchemeYellow.header-pattern-5 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_5.png) left top repeat;
}
.colorSchemeYellow.header-pattern-6 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_6.png) left top repeat;
}
.colorSchemeYellow.header-pattern-7 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_7.png) left top repeat;
}
.colorSchemeYellow.header-pattern-8 .top-section {
  background: #f2db1b url(../images/header_bg_yellow_8.png) left top repeat;
}
.colorSchemeYellow .modService.color-1 .icon_title {
  background: url(../images/service/circle_khaki.png) center top no-repeat;
}
.colorSchemeYellow .modService.color-2 .icon_title {
  background: url(../images/service/circle_khaki.png) center top no-repeat;
}
.colorSchemeYellow .modFlexSlider.top {
  color: #726616;
}
.colorSchemeYellow .modFlexSlider.top a.read-more {
  color: white;
  background: url(../images/arrow_white.png) right 10px no-repeat;
}
.colorSchemeYellow .modFlexSlider.top a.read-more:hover {
  color: #726616;
  background: url(../images/arrow_yellow_2.png) right 10px no-repeat;
}
.colorSchemeYellow .modFlexSlider.top .button {
  background: #655a13;
}
.colorSchemeYellow .modFlexSlider.top .button:hover {
  background: #443e07;
}
.colorSchemeYellow .modService h3 {
  background: url(../images/service/title_bg_grey.png) center top no-repeat;
}
.colorSchemeYellow .modService.simple h3 {
  background: none;
}
.colorSchemeYellow .modService.simple:hover i {
  background: #d8c318;
  color: white;
}
.colorSchemeYellow .modService.simple:hover i.circle-border {
  background: none;
  border: 2px solid #d8c318;
}
.colorSchemeYellow .modBlogPost .timestamp {
  background: url(../images/blog-post/blog_date_bg_yellow.png) left top no-repeat;
}
.colorSchemeYellow .modBlogPost ul.other-info a:hover {
  color: #d8c318;
}
.colorSchemeYellow .modBlogPost.masonry a.read-more:hover {
  background: #d8c318;
}
.colorSchemeYellow .modPriceBox.featured .info {
  border-top: 4px solid #d8c318;
}
.colorSchemeYellow .modMember h3 {
  color: #d8c318;
}
.colorSchemeYellow .modComments span.name {
  color: #d8c318;
}
.colorSchemeYellow .modCommentForm .button, .colorSchemeYellow .modContactForm .button {
  background: #d8c318;
}
.colorSchemeYellow .modCommentForm .button:hover, .colorSchemeYellow .modContactForm .button:hover {
  background: #bdaa15;
}
.colorSchemeYellow .modProcess i {
  color: #d8c318;
}
.colorSchemeYellow .modEmailUpdates .button {
  background: #bdaa15;
}
.colorSchemeYellow .modEmailUpdates .button:hover {
  background: #d8c318;
}
.colorSchemeYellow .modGallery .gallery-nav a.current, .colorSchemeYellow .modGallery .gallery-nav a:hover {
  color: white;
  background: #d8c318;
}
.colorSchemeYellow .modGallery a.mask span {
  color: #d8c318;
}
.colorSchemeYellow .modGallery .item:hover a {
  background: #d8c318;
}
.colorSchemeYellow .modGallery .item:hover a.mask {
  background: transparent;
}
.colorSchemeYellow .modText .dropcap {
  background: #d8c318;
}
.colorSchemeYellow .modNav ul.nav-bar li a {
  color: #f9f9f9;
}
.colorSchemeYellow .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeYellow .modNav ul.nav-bar li ul.sub a:hover {
  color: #d8c318;
}
.colorSchemeYellow .modPager a {
  color: #666666;
}
.colorSchemeYellow .modPager a:hover {
  color: #d8c318;
}
.colorSchemeYellow .modCaseStudy a:hover {
  color: #d8c318;
}
.colorSchemeYellow .modCaseStudy a.button:hover {
  color: white;
}
.colorSchemeYellow .modContactForm p.thanks {
  color: #d8c318;
}
.colorSchemeYellow .modTabs.vertical .tablist a {
  color: #d8c318;
}
.colorSchemeYellow .modTabs.vertical .tablist a:hover {
  color: white;
  background: url(../images/tabs/sidebar_menu_arrow_yellow.png) right top no-repeat;
}
.colorSchemeYellow .modTabs.vertical .tablist li.active a {
  color: white;
  background: url(../images/tabs/sidebar_menu_arrow_yellow.png) right top no-repeat;
}
.colorSchemeYellow .modContactInfo.bgmap a {
  color: #333333;
}
.colorSchemeYellow .modContactInfo.bgmap a:hover {
  color: #d8c318;
}
.colorSchemeYellow .modBarGraph .bar .highlighted {
  background: #d8c318;
}
.colorSchemeYellow .modFeature.boxed:hover i {
  color: #d8c318;
}
.colorSchemeYellow ::-moz-selection {
  background: #d8c318;
}
.colorSchemeYellow ::selection {
  background: #d8c318;
}
.colorSchemeYellow .bg-colorscheme {
  background: #d8c318;
}
.colorSchemeYellow .bg-colorscheme a {
  color: #655a13 !important;
}
.colorSchemeYellow .bg-colorscheme a:hover {
  color: white !important;
}
.colorSchemeYellow .modSocial.squared ul > li:hover {
  background: #d8c318;
}
@media only screen and (max-width: 767px) {
  .colorSchemeYellow .modNav .show-for-small .toggle {
    background: url(../images/nav/toggle_bg_yellow.png) right center no-repeat;
  }
  .colorSchemeYellow .modNav .show-for-small .toggle:hover {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemeYellow .modNav ul.nav-bar li a.sfHover, .colorSchemeYellow .modNav ul.nav-bar li a:hover, .colorSchemeYellow .modNav ul.nav-bar li a.current {
    color: #443e07;
  }
  .colorSchemeYellow .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemeYellow .modNav ul.nav-bar li ul.sub a:hover {
    color: #443e07;
  }
  .colorSchemeYellow .modTabs.vertical .panel-header {
    color: #d8c318;
  }
  .colorSchemeYellow .modTabs.vertical .panel-header.active {
    background: #d8c318;
    color: white;
  }
}

.colorSchemeYellow.header-pattern-9 .modFlexSlider.top, .colorSchemeYellow.header-pattern-10 .modFlexSlider.top {
  color: white;
}
.colorSchemeYellow.header-pattern-9 .modFlexSlider.top a.read-more:hover, .colorSchemeYellow.header-pattern-10 .modFlexSlider.top a.read-more:hover {
  color: white;
  background: url(../images/arrow_white.png) right 10px no-repeat;
}
.colorSchemeYellow.header-pattern-9 .modFlexSlider.top a.read-more, .colorSchemeYellow.header-pattern-10 .modFlexSlider.top a.read-more {
  color: #d8c318;
  background: url(../images/arrow_yellow.png) right 10px no-repeat;
}
.colorSchemeYellow.header-pattern-9 .modFlexSlider.top .button, .colorSchemeYellow.header-pattern-10 .modFlexSlider.top .button {
  background: #bdaa15;
}
.colorSchemeYellow.header-pattern-9 .modFlexSlider.top .button:hover, .colorSchemeYellow.header-pattern-10 .modFlexSlider.top .button:hover {
  background: #d8c318;
}
.colorSchemeYellow.header-pattern-9 .modSocial ul > li:hover, .colorSchemeYellow.header-pattern-10 .modSocial ul > li:hover {
  color: #d8c318;
}

.colorSchemePink .top-section {
  background: #de5f5f url(../images/header_bg_pink_8.png) left top repeat;
}
.colorSchemePink.header-pattern-1 .top-section {
  background: #de5f5f url(../images/header_bg_pink_1.png) left top repeat;
}
.colorSchemePink.header-pattern-2 .top-section {
  background: #de5f5f url(../images/header_bg_pink_2.png) left top repeat;
}
.colorSchemePink.header-pattern-3 .top-section {
  background: #de5f5f url(../images/header_bg_pink_3.png) left top repeat;
}
.colorSchemePink.header-pattern-4 .top-section {
  background: #de5f5f url(../images/header_bg_pink_4.png) left top repeat;
}
.colorSchemePink.header-pattern-5 .top-section {
  background: #de5f5f url(../images/header_bg_pink_5.png) left top repeat;
}
.colorSchemePink.header-pattern-6 .top-section {
  background: #de5f5f url(../images/header_bg_pink_6.png) left top repeat;
}
.colorSchemePink.header-pattern-7 .top-section {
  background: #de5f5f url(../images/header_bg_pink_7.png) left top repeat;
}
.colorSchemePink.header-pattern-8 .top-section {
  background: #de5f5f url(../images/header_bg_pink_8.png) left top repeat;
}
.colorSchemePink a {
  color: #cf5959;
}
.colorSchemePink a:hover {
  color: #333333;
}
.colorSchemePink .button {
  background: #cf5959;
  color: #fefbee;
}
.colorSchemePink .button:hover {
  color: #fefbee;
  background: #b64a4a;
}
.colorSchemePink a.read-more {
  background: url(../images/arrow_pink.png) right 8px no-repeat;
}
.colorSchemePink a.read-more:hover {
  background: url(../images/arrow_black.png) right 8px no-repeat;
}
.colorSchemePink .modService h3 {
  background: url(../images/service/title_bg_grey.png) center top no-repeat;
}
.colorSchemePink .modService.simple h3 {
  background: none;
}
.colorSchemePink .modService.simple:hover i {
  background: #cf5959;
  color: white;
}
.colorSchemePink .modService.simple:hover i.circle-border {
  background: none;
  border: 2px solid #cf5959;
}
.colorSchemePink .modBlogPost .timestamp {
  background: url(../images/blog-post/blog_date_bg_pink.png) left top no-repeat;
}
.colorSchemePink .modBlogPost ul.other-info a:hover {
  color: #cf5959;
}
.colorSchemePink .modBlogPost.masonry a.read-more:hover {
  background: #cf5959;
}
.colorSchemePink .modPriceBox.featured .info {
  border-top: 4px solid #cf5959;
}
.colorSchemePink .modMember h3 {
  color: #cf5959;
}
.colorSchemePink .modComments span.name {
  color: #cf5959;
}
.colorSchemePink .modCommentForm .button, .colorSchemePink .modContactForm .button {
  background: #cf5959;
}
.colorSchemePink .modCommentForm .button:hover, .colorSchemePink .modContactForm .button:hover {
  background: #b64a4a;
}
.colorSchemePink .modProcess i {
  color: #cf5959;
}
.colorSchemePink .modEmailUpdates .button {
  background: #b64a4a;
}
.colorSchemePink .modEmailUpdates .button:hover {
  background: #cf5959;
}
.colorSchemePink .modGallery .gallery-nav a.current, .colorSchemePink .modGallery .gallery-nav a:hover {
  color: white;
  background: #cf5959;
}
.colorSchemePink .modGallery a.mask span {
  color: #cf5959;
}
.colorSchemePink .modGallery .item:hover a {
  background: #cf5959;
}
.colorSchemePink .modGallery .item:hover a.mask {
  background: transparent;
}
.colorSchemePink .modText .dropcap {
  background: #cf5959;
}
.colorSchemePink .modNav ul.nav-bar li a {
  color: #f9f9f9;
}
.colorSchemePink .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemePink .modNav ul.nav-bar li ul.sub a:hover {
  color: #a94848;
}
.colorSchemePink .modFlexSlider.top .button {
  background: #5c2626;
}
.colorSchemePink .modFlexSlider.top .button:hover {
  background: #3f1b1b;
}
.colorSchemePink .modPager a {
  color: #666666;
}
.colorSchemePink .modPager a:hover {
  color: #cf5959;
}
.colorSchemePink .modCaseStudy a:hover {
  color: #cf5959;
}
.colorSchemePink .modContactForm p.thanks {
  color: #cf5959;
}
.colorSchemePink .modTabs.vertical .tablist a {
  color: #cf5959;
}
.colorSchemePink .modTabs.vertical .tablist a:hover {
  color: white;
  background: url(../images/tabs/sidebar_menu_arrow_pink.png) right top no-repeat;
}
.colorSchemePink .modTabs.vertical .tablist li.active a {
  color: white;
  background: url(../images/tabs/sidebar_menu_arrow_pink.png) right top no-repeat;
}
.colorSchemePink .modContactInfo.bgmap a {
  color: #333333;
}
.colorSchemePink .modContactInfo.bgmap a:hover {
  color: #cf5959;
}
.colorSchemePink .modBarGraph .bar .highlighted {
  background: #cf5959;
}
.colorSchemePink .modFeature.boxed:hover i {
  color: #cf5959;
}
.colorSchemePink ::-moz-selection {
  background: #cf5959;
}
.colorSchemePink ::selection {
  background: #cf5959;
}
.colorSchemePink .bg-colorscheme {
  background: #cf5959;
}
.colorSchemePink .bg-colorscheme a {
  color: #5c2626 !important;
}
.colorSchemePink .bg-colorscheme a:hover {
  color: white !important;
}
.colorSchemePink .modSocial.squared ul > li:hover {
  background: #cf5959;
}
@media only screen and (max-width: 767px) {
  .colorSchemePink .modNav .show-for-small .toggle {
    background: url(../images/nav/toggle_bg_pink.png) right center no-repeat;
  }
  .colorSchemePink .modNav .show-for-small .toggle:hover {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemePink .modNav ul.nav-bar li a.sfHover, .colorSchemePink .modNav ul.nav-bar li a:hover, .colorSchemePink .modNav ul.nav-bar li a.current {
    color: #3e1a1a;
  }
  .colorSchemePink .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemePink .modNav ul.nav-bar li ul.sub a:hover {
    color: #3e1a1a;
  }
  .colorSchemePink .modTabs.vertical .panel-header {
    color: #cf5959;
  }
  .colorSchemePink .modTabs.vertical .panel-header.active {
    background: #cf5959;
    color: white;
  }
}

.colorSchemePink.header-pattern-9 .modFlexSlider.top a.read-more:hover, .colorSchemePink.header-pattern-10 .modFlexSlider.top a.read-more:hover {
  color: white;
  background: url(../images/arrow_white.png) right 10px no-repeat;
}
.colorSchemePink.header-pattern-9 .modFlexSlider.top a.read-more, .colorSchemePink.header-pattern-10 .modFlexSlider.top a.read-more {
  color: #cf5959;
  background: url(../images/arrow_pink.png) right 10px no-repeat;
}
.colorSchemePink.header-pattern-9 .modFlexSlider.top .button, .colorSchemePink.header-pattern-10 .modFlexSlider.top .button {
  background: #ae4a4a;
}
.colorSchemePink.header-pattern-9 .modFlexSlider.top .button:hover, .colorSchemePink.header-pattern-10 .modFlexSlider.top .button:hover {
  background: #cf5959;
}
.colorSchemePink.header-pattern-9 .modSocial ul > li:hover, .colorSchemePink.header-pattern-10 .modSocial ul > li:hover {
  color: #cf5959;
}

.colorSchemePurple .top-section {
  background: #4d4771 url(../images/header_bg_purple_8.png) left top repeat;
}
.colorSchemePurple.header-pattern-1 .top-section {
  background: #4d4771 url(../images/header_bg_purple_1.png) left top repeat;
}
.colorSchemePurple.header-pattern-2 .top-section {
  background: #4d4771 url(../images/header_bg_purple_2.png) left top repeat;
}
.colorSchemePurple.header-pattern-3 .top-section {
  background: #4d4771 url(../images/header_bg_purple_3.png) left top repeat;
}
.colorSchemePurple.header-pattern-4 .top-section {
  background: #4d4771 url(../images/header_bg_purple_4.png) left top repeat;
}
.colorSchemePurple.header-pattern-5 .top-section {
  background: #4d4771 url(../images/header_bg_purple_5.png) left top repeat;
}
.colorSchemePurple.header-pattern-6 .top-section {
  background: #4d4771 url(../images/header_bg_purple_6.png) left top repeat;
}
.colorSchemePurple.header-pattern-7 .top-section {
  background: #4d4771 url(../images/header_bg_purple_7.png) left top repeat;
}
.colorSchemePurple.header-pattern-8 .top-section {
  background: #4d4771 url(../images/header_bg_purple_8.png) left top repeat;
}
.colorSchemePurple .modFlexSlider.top a.read-more {
  color: #df6113;
  background: url(../images/arrow_orange.png) right 10px no-repeat;
}
.colorSchemePurple .modFlexSlider.top a.read-more:hover {
  color: #b5501b;
  background: url(../images/arrow_orange_2.png) right 10px no-repeat;
}
.colorSchemePurple .modFlexSlider.top .button {
  background: #b5501b;
}
.colorSchemePurple .modFlexSlider.top .button:hover {
  background: #923c0f;
}
@media only screen and (max-width: 767px) {
  .colorSchemePurple .modNav .show-for-small .toggle {
    color: #fdf9e8;
    background: url(../images/nav/toggle_hover_bg.png) right center no-repeat;
  }
  .colorSchemePurple .modNav ul.nav-bar li a.sfHover, .colorSchemePurple .modNav ul.nav-bar li a:hover, .colorSchemePurple .modNav ul.nav-bar li a.current {
    color: #df6113;
  }
  .colorSchemePurple .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemePurple .modNav ul.nav-bar li ul.sub a:hover {
    color: #df6113;
  }
}

.colorSchemePurple.header-pattern-9 a, .colorSchemePurple.header-pattern-10 a {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 a:hover, .colorSchemePurple.header-pattern-10 a:hover {
  color: #333333;
}
.colorSchemePurple.header-pattern-9 .button, .colorSchemePurple.header-pattern-10 .button {
  color: white;
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .button:hover, .colorSchemePurple.header-pattern-10 .button:hover {
  color: white;
  background: #4f3e7e;
}
.colorSchemePurple.header-pattern-9 .modNav a.sfHover, .colorSchemePurple.header-pattern-9 .modNav a:hover, .colorSchemePurple.header-pattern-9 .modNav a.current, .colorSchemePurple.header-pattern-10 .modNav a.sfHover, .colorSchemePurple.header-pattern-10 .modNav a:hover, .colorSchemePurple.header-pattern-10 .modNav a.current {
  color: #f9f9f9;
}
.colorSchemePurple.header-pattern-9 .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemePurple.header-pattern-9 .modNav ul.nav-bar li ul.sub a:hover, .colorSchemePurple.header-pattern-10 .modNav ul.nav-bar li ul.sub a.sfHover, .colorSchemePurple.header-pattern-10 .modNav ul.nav-bar li ul.sub a:hover {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modFlexSlider.top a.read-more:hover, .colorSchemePurple.header-pattern-10 .modFlexSlider.top a.read-more:hover {
  color: white;
  background: url(../images/arrow_white.png) right 10px no-repeat;
}
.colorSchemePurple.header-pattern-9 .modFlexSlider.top a.read-more, .colorSchemePurple.header-pattern-10 .modFlexSlider.top a.read-more {
  color: #6a5fa9;
  background: url(../images/arrow_purple.png) right 10px no-repeat;
}
.colorSchemePurple.header-pattern-9 .modFlexSlider.top .button, .colorSchemePurple.header-pattern-10 .modFlexSlider.top .button {
  color: white;
  background: #4f3e7e;
}
.colorSchemePurple.header-pattern-9 .modFlexSlider.top .button:hover, .colorSchemePurple.header-pattern-10 .modFlexSlider.top .button:hover {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modContactInfo.bgmap a:hover, .colorSchemePurple.header-pattern-10 .modContactInfo.bgmap a:hover {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modBlogPost a.read-more, .colorSchemePurple.header-pattern-10 .modBlogPost a.read-more {
  background: url(../images/arrow_purple.png) right 10px no-repeat;
}
.colorSchemePurple.header-pattern-9 .modBlogPost a.read-more:hover, .colorSchemePurple.header-pattern-10 .modBlogPost a.read-more:hover {
  background: url(../images/arrow_black.png) right 10px no-repeat;
}
.colorSchemePurple.header-pattern-9 .modBlogPost ul.other-info a:hover, .colorSchemePurple.header-pattern-10 .modBlogPost ul.other-info a:hover {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modComments span.name, .colorSchemePurple.header-pattern-10 .modComments span.name {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modMember h3, .colorSchemePurple.header-pattern-10 .modMember h3 {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modSocial ul > li:hover, .colorSchemePurple.header-pattern-10 .modSocial ul > li:hover {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modProcess i, .colorSchemePurple.header-pattern-10 .modProcess i {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modBarGraph .bar .highlighted, .colorSchemePurple.header-pattern-10 .modBarGraph .bar .highlighted {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modPriceBox.featured .info, .colorSchemePurple.header-pattern-10 .modPriceBox.featured .info {
  border-top: 4px solid #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modTabs.vertical a, .colorSchemePurple.header-pattern-10 .modTabs.vertical a {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modTabs.vertical a:hover, .colorSchemePurple.header-pattern-10 .modTabs.vertical a:hover {
  color: white;
  background: url(../images/tabs/sidebar_menu_arrow_purple.png) right top no-repeat;
}
.colorSchemePurple.header-pattern-9 .modTabs.vertical li.active a, .colorSchemePurple.header-pattern-10 .modTabs.vertical li.active a {
  background: url(../images/tabs/sidebar_menu_arrow_purple.png) right top no-repeat;
}
.colorSchemePurple.header-pattern-9 .modGallery .gallery-nav a.current, .colorSchemePurple.header-pattern-9 .modGallery .gallery-nav a:hover, .colorSchemePurple.header-pattern-10 .modGallery .gallery-nav a.current, .colorSchemePurple.header-pattern-10 .modGallery .gallery-nav a:hover {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modGallery a.mask span, .colorSchemePurple.header-pattern-10 .modGallery a.mask span {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modGallery .item:hover a, .colorSchemePurple.header-pattern-10 .modGallery .item:hover a {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modGallery .item:hover a.mask, .colorSchemePurple.header-pattern-10 .modGallery .item:hover a.mask {
  background: transparent;
}
.colorSchemePurple.header-pattern-9 .modText .dropcap, .colorSchemePurple.header-pattern-10 .modText .dropcap {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modService h3, .colorSchemePurple.header-pattern-10 .modService h3 {
  background: url(../images/service/title_bg_grey.png) center top no-repeat;
}
.colorSchemePurple.header-pattern-9 .modService.simple h3, .colorSchemePurple.header-pattern-10 .modService.simple h3 {
  background: none;
}
.colorSchemePurple.header-pattern-9 .modService.simple:hover i, .colorSchemePurple.header-pattern-10 .modService.simple:hover i {
  background: #6a5fa9;
  color: white;
}
.colorSchemePurple.header-pattern-9 .modService.simple:hover i.circle-border, .colorSchemePurple.header-pattern-10 .modService.simple:hover i.circle-border {
  background: none;
  border: 2px solid #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .modBlogPost .timestamp, .colorSchemePurple.header-pattern-10 .modBlogPost .timestamp {
  background: url(../images/blog-post/blog_date_bg_purple.png) left top no-repeat;
}
.colorSchemePurple.header-pattern-9 .modFeature.boxed:hover i, .colorSchemePurple.header-pattern-10 .modFeature.boxed:hover i {
  color: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 ::-moz-selection, .colorSchemePurple.header-pattern-10 ::-moz-selection {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 ::selection, .colorSchemePurple.header-pattern-10 ::selection {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .bg-colorscheme, .colorSchemePurple.header-pattern-10 .bg-colorscheme {
  background: #6a5fa9;
}
.colorSchemePurple.header-pattern-9 .bg-colorscheme a, .colorSchemePurple.header-pattern-10 .bg-colorscheme a {
  color: #5c2626 !important;
}
.colorSchemePurple.header-pattern-9 .bg-colorscheme a:hover, .colorSchemePurple.header-pattern-10 .bg-colorscheme a:hover {
  color: white !important;
}
.colorSchemePurple.header-pattern-9 .modSocial.squared ul > li:hover, .colorSchemePurple.header-pattern-10 .modSocial.squared ul > li:hover {
  background: #6a5fa9;
}
@media only screen and (max-width: 767px) {
  .colorSchemePurple.header-pattern-9 .modTabs.vertical .panel-header, .colorSchemePurple.header-pattern-10 .modTabs.vertical .panel-header {
    color: #6a5fa9;
  }
  .colorSchemePurple.header-pattern-9 .modTabs.vertical .panel-header.active, .colorSchemePurple.header-pattern-10 .modTabs.vertical .panel-header.active {
    color: white;
    background: #6a5fa9;
  }
}
