{% extends 'layout/base.html.twig' %}
{% block title %}Qui suis-je ?{% endblock %}
{% block content %}
    <div class="row">
        <div class="six columns">
            <h3>Qui suis-je ?</h3>
            <p>Acheteur public pendant 30 ans, j’ai souvent constaté les difficultés rencontrées par les entreprises face à la complexité des procédures de la commande publique.<br/> J’ai créé le Cabinet PJ-C2A pour permettre aux artisans, commerçants, TPE/PME d’accéder à de nouvelles parts de marchés grâce a des conseils et un accompagnement personnalisé. Mon expertise dans ce domaine garanti une prestation de qualité et permet d’optimiser vos chances de remporter des appels d’offres.<br/> J’interviens également auprès de mes clients en conseil et/ou support dans les domaines de la comptabilité et du secrétariat.
            </p>
            <p>
                Pascale JAN<br/><br/>
                Conseillère marchés publics, Assistante indépendante
            </p>
        </div>
        <div class="six columns">
            <img src="{{asset('statics/images/whoami_600_800.jpg')}}" width="800px" />
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            <div class="boxed mod modFeature">
                <i class="icon-heart"></i>
                <h3>Atouts</h3>
                <p>
                    Capacités rédactionnelles<br/>
                    Maitrise de l’orthographe<br/>
                    Connaissance des administrations<br/>
                    Maitrise de l’outil informatique<br/>
                    Ancien acheteur public
                </p>
            </div>
        </div>
        <div class="three columns">
            <div class="boxed mod modFeature">
                <i class="icon-cog"></i>
                <h3>Professionnalisme</h3>
                <p>
                    Grande capacité d’adaptation<br/>
                    Polyvalence <br/>
                    Efficacité<br/>
                    Discrétion<br/>
                    Disponibilité<br/>
                </p>
            </div>
        </div>
        <div class="three columns">
            <div class="boxed mod modFeature">
                <i class="icon-pencil"></i>
                <h3>Competences</h3>
                <p>
                    Procédure de marchés publics<br/>
                    Comptabilité<br/>
                    Urbanisme<br/>
                    Démarches administratives<br/>
                    Bilan et organisation de services<br/>
                </p>
            </div>
        </div>
        <div class="three columns">
            <div class="boxed mod modFeature">
                <i class="icon-eye"></i>
                <h3>Objectif</h3>
                <p>
                    Développer votre compétitivité
                </p>
            </div>
        </div>
    </div>
{% endblock %}