{% extends 'layout/base.html.twig' %}
{% block title %}Marchés publics : Formation{% endblock %}
{% block content %}
    <div class="row">
        <div class="twelve columns">
            <div class="mod modSectionHeader">
                <h2>Formation</h2>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="twelve columns">
                <p>
                    Parce qu’il est important de bien comprendre les mécanismes de la commande publique, je vous propose des formations et du coaching personnalisé
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="spacing"></div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/group_white.png')}}"/>
                        <h3>Initiation</h3>
                    </div>
                    <p>
                        Formation destinée aux professionnels ayant une faible expérience des marchés publics :
                    </p>
                    <ul>
                        <li><i class="icon-check"></i>Connaître les différents types de marchés, leurs seuils et les étapes de procédure de réponse</li>
                        <li><i class="icon-check"></i>Savoir rechercher une annonce et la décrypter</li>
                    </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/computer_white.png')}}"/>
                        <h3>reponse</h3>
                    </div>
                    <p>
                        Formation destinée aux professionnels souhaitant se perfectionner dans leurs réponses aux appels d’offres :
                    </p>
                    <ul>
                        <li><i class="icon-check"></i>Organiser et construire sa réponse</li>
                        <li><i class="icon-check"></i>Récupérer le DCE et l’analyser</li>
                        <li><i class="icon-check"></i>Se procurer les différents imprimés</li>
                        <li><i class="icon-check"></i>Savoir remplir les formulaires de Déclaration du Candidat</li>
                        <li><i class="icon-check"></i>Savoir choisir ses références</li>
                        <li><i class="icon-check"></i>L’acte d’engagement</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/cloud_white.png')}}"/>
                        <h3>dematerialisation</h3>
                    </div>
                    <p>
                        Formation destinée à permettre aux entreprises de se positionner face à l’obligation de mise en place de processus dématérialisés en matière de réponse aux marchés publics :
                    </p>
                    <ul>
                        <li><i class="icon-check"></i>Mettre en place la dématérialisation au sein de l’entreprise</li>
                        <li><i class="icon-check"></i>Maîtriser le processus dématérialisé</li>
                        <li><i class="icon-check"></i>Créer et déposer des enveloppes de réponse</li>
                    </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/chart_white.png')}}"/>
                        <h3>Se demarquer</h3>
                    </div>
                    <p>
                        Repérer et mettre en avant les pratiques RSE de votre entreprise pour déposer une offre personnalisée vous démarquant de la concurrence<br/>
                        Possibilité de coaching personnalisé en fonction des besoins de votre entreprise
                    </p>
                </div>
            </div>
        </div>
{% endblock %}