{% extends 'layout/base.html.twig' %}
{% block title %}Marchés publics : Accompagnement{% endblock %}
{% block content %}
    <div class="row">
        <div class="twelve columns">
            <div class="mod modSectionHeader">
                <h2>Accompagnement</h2>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="twelve columns">
                <p>
                    Pour vous permettre de mieux appréhender la commande publique, je mets mon expertise d’ancien acheteur public au service de votre entreprise. Saisissez l’opportunité de remporter de nouvelles parts de marché.<br/>
                    Je vous accompagne dans toutes les étapes de la procédure.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="spacing"></div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/computer_white.png')}}"/>
                        <h3>Veille</h3>
                    </div>
                    <p>
                        Création d’une fiche synthèse de votre entreprise<br/>
                        Veille et identification des offres adaptées<br/>
                        Transmission des annonces pertinentes<br/>
                        Aide au choix des marchés
                    </p>
                </div>
            </div>
            <div class="six columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/sign_post_white.png')}}"/>
                        <h3>Accompagnement</h3>
                    </div>
                    <p>
                        (ces missions peuvent être prises dans leur ensemble ou partiellement selon la nature de vos besoins)<br/>
                        Récupération du dossier de consultation<br/>
                        Analyse du DCE avec création de fiches de synthèse<br/>
                        Aide à la préparation de l’acte d’engagement<br/>
                        Aide à la réalisation du mémoire technique<br/>
                        Regroupement des pièces constitutives obligatoires<br/>
                        Analyse du dossier avant transmission (relecture, optimisation et vérification de conformité administrative)<br/>
                        Accompagnement à la réponse dématérialisée<br/>
                        Suivi du dossier
                    </p>
                </div>
            </div>
        </div>
{% endblock %}