{% extends 'layout/base.html.twig' %}
{% block title %}Marchés publics : Conseil{% endblock %}
{% block content %}
    <div class="row">
        <div class="twelve columns">
            <div class="mod modSectionHeader">
                <h2>Conseil</h2>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="twelve columns">
                <p>
                    Aujourd’hui encore, la passation des marchés publics reste complexe pour bon nombre de dirigeants. Je vous propose de faire le point sur votre positionnement en matière d’appels d’offres et de vous aider à optimiser vos chances de les remporter.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="spacing"></div>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/chart_white.png')}}"/>
                        <h3>Audit</h3>
                    </div>
                    <p>
                        Analyse des précédents dossiers<br/>
                        Etat des lieux des connaissances du personnel dédié aux marchés publics<br/>
                        Préconisations et positionnement de votre entreprise sur les appels d’offres<br/>
                        Proposition et chiffrage pour un accompagnement personnalisé<br/>
                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/cog_white.png')}}"/>
                        <h3>Organisation</h3>
                    </div>
                    <p>
                        Elaboration d’une fiche de synthèse sur l’entreprise permettant une veille ciblée<br/>
                        Conception de documents type vous servant de base pour les consultations à venir<br/>
                        Regroupement des pièces nécessaires aux dossiers de réponse<br/>
                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/sign_post_white.png')}}"/>
                        <h3>Suivi</h3>
                    </div>
                    <p>
                        (dans les 3 à 6 mois après un audit)<br/>
                        Suivi de la mise en place des préconisations<br/>
                        Information sur les évolutions règlementaires<br/>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}