{% extends 'layout/base.html.twig' %}
{% block title %}Secrétariat pour professionnels{% endblock %}
{% block content %}
    <div class="row">
        <div class="twelve columns">
            <div class="mod modSectionHeader">
                <h2>Professionnels</h2>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="twelve columns">
                <p>
                    La gestion de votre entreprise est chronophage. Vous avez besoin de libérer du temps pour vos clients et vos chantiers. Je vous propose d’intervenir de façon ponctuelles ou régulière et vous faire bénéficier de mon savoir faire en tant qu’assistante indépendante. Mes prestations font l’objet d’un devis détaillé qui vous assure une parfaite maitrise de coûts. (pas d’embauche, pas d’engagement). Mon statut d’Entreprise Individuelle vous permet de récupérer la TVA sur les honoraires
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="spacing"></div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/computer_white.png')}}"/>
                        <h3>comptabilite</h3>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>Facturation / Devis</li>
                        <li><i class="icon-check"></i>Saisie comptable</li>
                        <li><i class="icon-check"></i>Rapprochement bancaire</li>
                        <li><i class="icon-check"></i>Relance impayés</li>
                    </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/sign_post_white.png')}}"/>
                        <h3>Conseil</h3>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>Formation marchés publics</li>
                        <li><i class="icon-check"></i>Optimisation secrétariat</li>
                        <li><i class="icon-check"></i>Conception documents type</li>
                        <li><i class="icon-check"></i>Mise en place d’une politique RSE</li>
                        <li><i class="icon-check"></i>Négociation avec vos prestataires</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/cloud_white.png')}}"/>
                        <h3>Administratif</h3>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>Procédure marchés publics</li>
                        <li><i class="icon-check"></i>Démarches administratives (RSI, Impôts.)</li>
                        <li><i class="icon-check"></i>Gestion courrier</li>
                        <li><i class="icon-check"></i>Gestion agenda</li>
                        <li><i class="icon-check"></i>Rédaction correction, relecture</li>
                    </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/cog_white.png')}}"/>
                        <h3>Divers</h3>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>Transcription audio</li>
                        <li><i class="icon-check"></i>Archivage, numérisation</li>
                        <li><i class="icon-check"></i>Tri, classement</li>
                        <li><i class="icon-check"></i>Organisation réunions, déplacements</li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}