{% extends 'layout/base.html.twig' %}
{% block title %}Secrétariat pour particuliers{% endblock %}
{% block content %}
    <div class="row">
        <div class="twelve columns">
            <div class="mod modSectionHeader">
                <h2>Particuliers</h2>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="twelve columns">
                <p>
                    Vous avez envie de mettre de l’ordre dans vos papiers mais vous ne savez pas par où commencer ?<br/>
                    Pour vous les démarches auprès des administrations relèvent du véritable « casse-tête » ?<br/>
                    Vous avez du mal à vous situer dans votre recherche d’emploi ?<br/>
                    PJC2A est là pour vous aider, vous conseiller en vous proposant un accompagnement personnalisé<br/>
                    Je me déplace avec vous ou pour vous représenter dans les bureaux de l’administration ou des organismes concernés
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="spacing"></div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/chart_white.png')}}"/>
                        <h3>Vie quotidienne</h3>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>Tri et classement de vos papiers</li>
                        <li><i class="icon-check"></i>Conseil pour une meilleure organisation et gestion</li>
                        <li><i class="icon-check"></i>Relecture et correction</li>
                        <li><i class="icon-check"></i>Transcription audio</li>
                        <li><i class="icon-check"></i>Saisie et mise en page tous types de documents (thèse, mémoire...)</li>
                    </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/computer_white.png')}}"/>
                        <h3>Demarches</h3>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>Aide aux démarches auprès des administrations et organismes divers</li>
                        <li><i class="icon-check"></i>Assistance pour l’ouverture ou la résiliation de vos contrats, prélèvements ou déclarations de sinistres
</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="color-2 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/group_white.png')}}"/>
                        <h3>Emploi</h3>
                    </div>
                    <p>
                        Coaching T.R.E (Techniques de Retour à l’Emploi) : gestuel, verbal et vestimentaire
                    </p>
                </div>
            </div>
            <div class="six columns">
                <div class="color-1 mod modService">
                    <div class="icon_title">
                        <img alt="" width="64" height="64" src="{{ asset('statics/images/service/sign_post_white.png')}}"/>
                        <h3>Divers</h3>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>Recherches généalogiques</li>
                        <li><i class="icon-check"></i>Aide aux devoirs</li>
                        <li><i class="icon-check"></i>Accompagnement dans l’apprentissage de la langue française</li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}